body{
 color: rgb(52, 122, 5);
}
form {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 10pt;
    margin: 20px;
    border: 4px solid rgb(2, 2, 121);
}
.label{
  
    color: blue;
    
}

.p{
    border: 10px solid blue;
    text-align: center;
}

class Solution {
public:
    vector<int> twoSum(vector<int>& nums, int target) {

        for(int  i=0;i<nums.size();i++)
        {
            int need=target-nums[i]
            for (int j=i+1;j<nums.size();j++)
            {
                    if(nums[j]==need)
                    {
                        return{i,j}
                    }
            }
           
        }
             return0;
    }
};